<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="connString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=BizTalkMgmtDb;Data Source=."/>
  </appSettings>
</configuration>
